@use '../../styles/colors.scss' as colors;

button.button {

  font-family: 'ARCADE CLASSIC', monospace;

  color: black;
  background: colors.$uq-aqua;
  width: fit-content;
  font-size: 24px;
  border-radius: 8px;
  padding: 5px 28px 5px 12px;
  border: 2px solid black;
  border-bottom: 6px solid black;
  cursor: pointer;
  transition: all 0.05s;

  &:hover{
    // transform: scale(1.05);
    background-color: white;
  }

  &:active {
    // transform: scale(1);
    // background-color: colors.$uq-orange;
  }

  &.small {
    padding: 4px 8px;
    font-size: 14px;
  }

  &.wide {
    min-width: 10em;
  }

  &.xwide {
    min-width: 20em;
  }

  &.fullWidth {
    width: 100%;
  }
  
  &.unstyled {
    color: inherit;
    background: inherit;
    padding: 0;
    border: none;

    &:hover {
      transform: scale(1.1);
    }
  }

 
}
