@use '../../styles/colors.scss' as colors;

.navbar {
  justify-content: space-between;
  position: relative;

  .marquee-container {
    height: 2.5em;
    background: #027;
    color: white;
    font-family: 'PT Mono', monospace;
    font-weight: 800;
  }

  .logo-title {
    font-family: 'PP Neue Machina', sans-serif;
  }

  .nav-link {
    padding: 8px 16px;
    text-decoration: none;
    margin-bottom: -2px;
    font-weight: 600;
    color: colors.$uq-purple;
    border-bottom: 2px solid colors.$uq-lightpink;

    &.logo {
      border-bottom: 2px solid transparent;
    }

    @media only screen and (max-width: 520px) {
      padding: 8px 20px;
    }

    &.selected {
      border-bottom-color: colors.$uq-purple;
    }

    &.logo {
      img {
        height: 3em;
      }
    }

  }

}
